<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <title>
        Reverse Dungeon
    </title>

    {{ partial "head.html" . }}

</head>

<body>

    <div class="flexWrapper">
        {{ partial "header.html" . }}

        <div class="content vertical" style="display:block ruby;justify-content:space-around;">
            <iframe frameborder="0" style="border:none;width:25%;height:450px;" width="100%" height="350" src="https://music.yandex.ru/iframe/playlist/truebadour/1001">Listen to <a href='https://music.yandex.ru/users/truebadour/playlists/1001?lang=en'>Reverse Dungeon</a> — <a href='https://music.yandex.ru/users/truebadour'>truebadour</a> on Yandex Music</iframe>
            <iframe style="border-radius:12px;" src="https://open.spotify.com/embed/playlist/7Aht9qSAkxlSLNxsqRBOao?utm_source=generator" width="30%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <div class="badges">
              <script src="https://tryhackme.com/badge/44136"></script>
              <script src="https://www.hackthebox.eu/badge/69669"></script>
            </div>
            <main class="main">
                <div class="indexWrapper">
                    <div>
                        <h1 class="indexHeader">{{ .Site.Params.author.name }}</h1>
                    </div>
                    {{ if isset .Site.Params "social" }}
                        {{ partial "social.html" . }}
                    {{ end }}
                </div>
            </main>
        </div>


        {{ partial "footer.html" . }}
    </div>

</body>

</html>
